<div class="container">
  {{#if model.length}}
    <h3>Save to a File</h3>
    <hr>
    <p>
    {{#bs-button type="success" class="mr-2"
      onClick=(action "saveSelected" selected)
      disabled=(if selected.length false true)
    }}
      {{fa-icon "download"}} <span class="align-middle">Save Selected Modules</span>
    {{/bs-button}}
    {{#bs-button type="primary" class="" onClick=(action database.saveDb)}}
      {{fa-icon "download"}} <span class="align-middle">Save All Modules</span>
    {{/bs-button}}
    </p>

    {{#multiselect-checkboxes
      options=(reject-by "parentId" (sort-by "order" model))
      selection=selected
      labelProperty="title"
      updateSelectionValue=true
      tagName="div"
      class="list-group" as |item isSelected|
    }}
      <label class="list-group-item list-group-item-action cursor-pointer {{if isSelected "list-group-item-success"}}">
        <h5>
          {{input type="checkbox" checked=isSelected}}
          {{item.title}}
        </h5>
        {{#if item.description}}
          <p>{{item.description}}</p>
        {{/if}}
      </label>
    {{/multiselect-checkboxes}}
  {{else}}
    <div class="alert alert-warning text-center mb-auto mx-auto">
      <h1>{{fa-icon "exclamation-triangle"}} Nothing to save</h1>
      <p>You need to create some modules first.</p>
    </div>
  {{/if}}
</div>
