{{#draggable-object content=this dragHandle=".js-dragHandle"}}
{{#draggable-object-target action="dropIt" dragOverAction="dragOver" dragOutAction="dragOut"}}
  {{#link-to (concat type ".edit") model tagName="div" class="md-item-wrapper d-flex justify-content-between align-items-center pr-1"}}
  <div class="{{if draggable "js-dragHandle dragHandle" "text-secondary cursor-not"}} d-inline-flex ml-2">{{fa-icon "bars"}}</div>
  <div class="text-truncate flex-grow-1" style={{padding}}>
    <span class="text-level">{{levelText}}</span> {{model.title}}
  </div>
  <span class="badge badge-{{model.fulfilledStyle}} badge-pill">{{model.fulfilled.length}}/{{model.requirements.length}}</span>
  {{/link-to}}
{{/draggable-object-target}}
{{/draggable-object}}

{{#if model.children.length}}
  {{md-sidebar-list model=model.children parentItem=this}}
{{/if}}

{{!-- {{#each model.children as |child|}}
  {{md-sidebar-list/item model=child}}
{{/each}} --}}
