{{#link-to (concat type ".edit") model tagName="div" class="md-item-wrapper"}}
<div class="text-truncate" style={{padding}}>
  <span class="text-level">{{levelText}}</span> {{model.title}}
</div>
{{/link-to}}

{{#if model.children.length}}
  {{md-sidebar-list model=model.children parentItem=this}}
{{/if}}

{{!-- {{#each model.children as |child|}}
  {{md-sidebar-list/item model=child}}
{{/each}} --}}
