{{#bs-navbar fluid=true position="sticky-top" type="dark" backgroundColor="primary" as |navbar|}}
  {{#link-to "index" class="navbar-brand"}}{{fa-icon "pen-square"}} mdSpec{{/link-to}}
  {{navbar.toggle}}
  {{#navbar.content}}
    {{#navbar.nav class="mr-5" as |nav|}}
      {{#nav.item}}{{#nav.link-to "index"}}Getting Started{{/nav.link-to}}{{/nav.item}}
      {{!-- {{#nav.item}}{{#nav.link-to "index"}}Components{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}<a href="/api" class="nav-link">API</a>{{/nav.item}} --}}
    {{/navbar.nav}}
    {{#navbar.nav class="mr-auto" as |nav|}}
      {{#nav.item class="mr-2"}}
        {{#bs-button type="outline-light" onClick=(action "saveDb")}}
          {{fa-icon "download"}} Save
        {{/bs-button}}
      {{/nav.item}}
      {{#nav.item}}
        {{#file-upload name="db"
           accept="application/json" multiple=true
           onfileadd=(action "loadDb") as |queue|}}
           <a class="btn btn-outline-light">
             {{#if queue.files.length}}
               Loading...
             {{else}}
               {{fa-icon "download"}} Load
             {{/if}}
           </a>
        {{!-- {{#bs-button type="outline-light"}}
          {{fa-icon "upload"}} Load
        {{/bs-button}} --}}
        {{/file-upload}}
      {{/nav.item}}
    {{/navbar.nav}}
    {{#navbar.nav as |nav|}}
      {{#nav.item class="visible-sm-block visible-xs-block"}}
        <a href="https://github.com/adiwg/mdSpec" class="nav-link" target="_blank" rel="noopener">{{fa-icon "github" prefix="fab"}}</a>
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

<div class="d-flex flex-row">
  {{!-- <div class="row"> --}}
    <nav class="d-sm-flex d-none bg-light sidebar">
      <div class="sidebar-sticky w-100">
        {{#bs-nav type="" justified=true class="sticky-top p-2 bg-light" as |nav|}}
          {{#nav.item}}
            {{#nav.item}}{{#nav.link-to "module.new"}}{{fa-icon "plus"}} Create Module{{/nav.link-to}}{{/nav.item}}
            {{!-- {{#bs-button type="success" icon="fa fa-plus" onClick=(action "createModule")}}
              {{fa-icon "plus"}} Create Module
            {{/bs-button}} --}}
          {{/nav.item}}
        {{/bs-nav}}
        {{md-sidebar-list model=modules}}
      </div>
    </nav>
    {{md-splitter "||" ".sidebar" class="d-none d-sm-block"}}
    <main role="main" class="d-flex pt-3 px-4">
      {{outlet}}
    </main>
  {{!-- </div> --}}
</div>
