{{#bs-navbar fluid=true toggleBreakpoint="md" position="sticky-top" class="main-nav"
 type="dark" backgroundColor="primary" as |navbar|}}
  {{#link-to "index" class="navbar-brand mr-5"}}{{fa-icon "pen-square"}} mdSpec{{/link-to}}
  {{navbar.toggle}}
  {{#navbar.content}}
    {{#navbar.nav class="mr-auto" as |nav|}}
      {{#nav.item}}{{#nav.link-to "index"}}{{fa-icon "home"}} <span class="align-middle">Intro</span>{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "report"}}{{fa-icon "file-alt"}} <span class="align-middle">Report</span>{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "chart"}}{{fa-icon "chart-bar"}} <span class="align-middle">Chart</span>{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "save"}}{{fa-icon "download"}} <span class="align-middle">Save</span>{{/nav.link-to}}{{/nav.item}}
      {{#nav.item}}{{#nav.link-to "import"}}{{fa-icon "upload"}} <span class="align-middle">Load</span>{{/nav.link-to}}{{/nav.item}}
    {{/navbar.nav}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}{{#nav.link-to "settings"}}{{fa-icon "cogs"}} Settings{{/nav.link-to}}{{/nav.item}}
      {{#nav.item class="visible-sm-block visible-xs-block"}}
        <a href="https://github.com/adiwg/mdSpec" class="nav-link" target="_blank" rel="noopener">{{fa-icon "github" prefix="fab"}}</a>
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

<div class="d-flex flex-row">
  {{!-- <div class="row"> --}}
    <nav class="d-sm-flex d-none bg-light sidebar d-print-none">
      <div class="sidebar-sticky w-100">
        {{#bs-nav type="" justified=true class="sticky-top p-2 bg-light" as |nav|}}
          {{#nav.item}}
            {{#nav.item}}{{#nav.link-to "module.new"}}{{fa-icon "plus"}} Create Module{{/nav.link-to}}{{/nav.item}}
          {{/nav.item}}
        {{/bs-nav}}
        {{md-sidebar-list model=modules}}
      </div>
    </nav>
    {{md-splitter "||" ".sidebar" class="d-none d-sm-block d-print-none"}}
    <main role="main" class="d-flex pt-3 px-4">
      {{outlet}}
    </main>
  {{!-- </div> --}}
</div>
